.navbar{
    padding-left: 10px;
    padding-right: 10px;
    background-color:#d7f8fa;
    /* height: 85px; */
    /* align-items:end; */
}
.navbar-brand{
    color: #86486a94; 
    font-size: 36px;
    font-family: 'Delicious Handrawn', cursive;
}
.nav-link{
    color: #86486a94; 
    font-size: 24px;
    font-family: 'Delicious Handrawn', cursive;
}
.dropdown-item{
    color: #86486a94; 
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
}
#logo{
    height: 80px;
}
#navbar{
    background-color: rgb(238, 224, 30);
}
#img-login{
    width: 45px;
    height: 45px;
}
/* Link{
    color: #86486a94;
} */